<div>

    <div class="d-flex justify-content-between">
      <h4>Form person</h4>
      <a href="#" routerLink="/person/index" class="btn btn-primaryt">Back</a>
    </div>
  
    <hr/>
  
        <div class="form-group row">
          <div class="col-md-6 ">
            <label for="title">Id:</label>
            <input
              formControlName="idP"
              id="idP"
              type="text"
              class="form-control">
          </div>

          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="email">Dirección:</label>
                <input
                  formControlName="dire"
                  id="dire"
                  type="text"
                  class="form-control">
       
              </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 ">
                  <label for="title">Fecha Nacimiento:</label>
                  <input
                    formControlName="fnac"
                    id="name"
                    type="text"
                    class="form-control">
                </div>
            </div>
          </div>

  </div>
  